
#box{
   height: 0px;
   width: 0px;
   overflow: hidden;
   top: 0;
   left: 0;
   position: fixed;
   transition: all 2s ease-in-out  ;
}
#box:target{
    height: 50%;
    width: 30%;
    background-color: lightgray;
    top: 25%;
    left: 25%;
    
}